* text eol=auto
*.sh text eol=lf
*.bat text eol=crlf

nls/*.en working-tree-encoding=CP437 text eol=auto
nls/*.lv working-tree-encoding=CP775 text eol=auto
nls/*.nl working-tree-encoding=CP850 text eol=auto
nls/*.fi working-tree-encoding=CP850 text eol=auto
nls/*.fr working-tree-encoding=CP850 text eol=auto
nls/*.de working-tree-encoding=CP850 text eol=auto
nls/*.it working-tree-encoding=CP850 text eol=auto
nls/*.pt working-tree-encoding=CP850 text eol=auto
nls/*.es working-tree-encoding=CP850 text eol=auto
nls/*.sv working-tree-encoding=CP850 text eol=auto
nls/*.hu working-tree-encoding=CP852 text eol=auto
nls/*.rs working-tree-encoding=CP852 text eol=auto
nls/*.tr working-tree-encoding=CP857 text eol=auto
nls/*.ru working-tree-encoding=CP866 text eol=auto
nls/*.ua working-tree-encoding=CP866 text eol=auto
